body, html
{
	padding: 0;
	margin: 0 auto;
	background-color: #E9E9E9;
}

img
{
	border: none;
}
h1, h2, h3, h4, h5, h6, hr, blockquote, form, ul, ol, li, p, pre, dl, dt, dd, fieldset, legend, button, input, textarea, th, td
{
	padding: 0;
	margin: 0;
}
.datatable
{

	border-collapse: collapse;
}
 .datatable td
{
	border: 1px solid #000;
	padding:3px;
}

.datatable caption
{
font-weight:bold;
	border: 1px solid #000;
	padding:3px;
	border-bottom-width:0px;
}
