<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <!--<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />-->
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="assembly://RFD.FMS.AdoNet/RFD.FMS.AdoNet/AdoNetConfig.xml"/>
      <!--只执行SQL-->
      <!--<resource uri="assembly://RFD.FMS.Domain/RFD.FMS.Domain/SqlDaoConfig.xml"/>
      <resource uri="assembly://RFD.FMS.WEBLOGIC/RFD.FMS.WEBLOGIC/SqlForServiceConfig.xml"/>-->
      <!--只执行Oracle-->
      <resource uri="assembly://RFD.FMS.Domain/RFD.FMS.Domain/OracleDaoConfig.xml"/>
      <resource uri="assembly://RFD.FMS.ServiceImpl/RFD.FMS.ServiceImpl/OracleForServiceConfig.xml"/>
      <!--SQL、Oracle并行-->
      <!--<resource uri="assembly://RFD.FMS.WEBLOGIC/RFD.FMS.WEBLOGIC/AllForServiceConfig.xml"/>
      <resource uri="assembly://RFD.FMS.ServiceImpl/RFD.FMS.ServiceImpl/AllForOracleServiceConfig.xml"/>
      <resource uri="assembly://RFD.FMS.Domain/RFD.FMS.Domain/SqlDaoConfig.xml"/>
      <resource uri="assembly://RFD.FMS.Domain/RFD.FMS.Domain/AllDaoConfig.xml"/>-->

    </context>
    <objects xmlns="http://www.springframework.net">

    </objects>
    <!--<parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>-->
  </spring>
  <connectionStrings>
    <!--正式库-->
    <!--<add name="ExecuteConnString" connectionString="OaUiMMBYnrZ1gv4wwBoL9C+ta+Rckt2bxZjaIEqAY6t2LR9XNG+M72QVhaViTC71fdNDI/gKlRf9PtIE45u6ZgNaGqlx2YEyFGXeeRNm6zymJ5Wu6UB4cEKrrSWKYH9bZWQzr8MpuznJvfE0yWpsqo3sw9L7jAI1um1X9kOXoOMdVxbPkpAKOf88mcOeBrxfJZVnYUODt7xwGTwjyM2274mHuVV2lb6m" />
    <add name="RedOnlyConnString" connectionString="OaUiMMBYnrZjZX5i9uRbgUrsWh6E23eBz1ItfhFf/8QASMSjZQeAWXXBnIzjicCFG8WLHl+U0E6QM1T/8c7cZpT3PHa28V13puW/FC0HZ0Xl8vKuJQQbK7LGIUbiiIM8YDgZ7JiLGpoGjWNNtNQSE1h3Xds9z2H36/VYjUP+VwQ=" />
    <add name="OracleExecuteConnString" connectionString="Nt5+CzPrqmcGY1CnHImOJvPPlwHLveFZ/xIK98z/xApGgXCpEIv2vgrOAyK5xfddLHE7Voh14eNAyUW7TnfY+47nvXQ4RRd36CylFShuByQ="/>
    <add name="OracleRedOnlyConnString" connectionString="Nt5+CzPrqmcGY1CnHImOJt7t9nc0V++S/xIK98z/xApG2qgpwrGrW7lPQ3bY2V0SSkvoZuiTJFmVNtHan5jWtklvvDkqVfdhRoH//67iMLOJh7lVdpW+pg=="/>-->

    <!--测试库-->
    <add name="ExecuteConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP3BJwEUpZTi4+FLhlxT+eRF"/>
    <add name="RedOnlyConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP3BJwEUpZTi4+FLhlxT+eRF"/>
    <add name="OracleExecuteConnString" connectionString="qbS19MEWSlHtllzfAaWFsY4HiNKpbr3H/5JO6B/N0vR6wCI+WI/qnqMNVJhKdEd4NelV8d/76P2zqcBB7Raqz6/TgpCH94VvZ2wWJ628JK/vffrAKSgh42KFKQ2OkP6ScQq+XL7pN3eFYBz6VHd9k4zCM4xlJwS7k4mlgPyUGFwvDz/VDxADnbVCRWyOCkdkfMJHQgpL64M="/>
    <add name="OracleRedOnlyConnString" connectionString="qbS19MEWSlHtllzfAaWFsY4HiNKpbr3H/5JO6B/N0vR6wCI+WI/qnqMNVJhKdEd4NelV8d/76P2zqcBB7Raqz6/TgpCH94VvZ2wWJ628JK/vffrAKSgh42KFKQ2OkP6ScQq+XL7pN3eFYBz6VHd9k4zCM4xlJwS7k4mlgPyUGFwvDz/VDxADnbVCRWyOCkdkfMJHQgpL64M="/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
<system.serviceModel>
  <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
    multipleSiteBindingsEnabled="true" />
  <behaviors>
    <serviceBehaviors>
      <behavior name="" >
        <serviceMetadata httpGetEnabled="true" />
        <serviceDebug includeExceptionDetailInFaults="true" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
</system.serviceModel>

</configuration>
