<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <clear/>
  <!--测试库-->
  <!--<add name="dbfrom" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjeflWW9UCmQ/IDfhr8b49yXhHuYwkMyNYyb3xNMlqbKqN7MPS+4wCNYmHuVV2lb6m"/>
  <add name="dbto" connectionString="qbS19MEWSlHtllzfAaWFsY4HiNKpbr3H/5JO6B/N0vR6wCI+WI/qnqMNVJhKdEd4NelV8d/76P2zqcBB7Raqz6/TgpCH94VvZ2wWJ628JK/vffrAKSgh42KFKQ2OkP6ScQq+XL7pN3eFYBz6VHd9k4zCM4xlJwS7k4mlgPyUGFwvDz/VDxADnbVCRWyOCkdkfMJHQgpL64M="/>-->
  <!--正式库-->
  <add name="dbfrom" connectionString="OaUiMMBYnrZ1gv4wwBoL9C+ta+Rckt2bxZjaIEqAY6t2LR9XNG+M72QVhaViTC71fdNDI/gKlRf9PtIE45u6ZgNaGqlx2YEyFGXeeRNm6zymJ5Wu6UB4cEKrrSWKYH9bZWQzr8MpuznJvfE0yWpsqo3sw9L7jAI1um1X9kOXoOMdVxbPkpAKOf88mcOeBrxfJZVnYUODt7xwGTwjyM2274mHuVV2lb6m"/>
  <add name="dbto" connectionString="Nt5+CzPrqmcGY1CnHImOJvPPlwHLveFZ/xIK98z/xApGgXCpEIv2vgrOAyK5xfddLHE7Voh14eNAyUW7TnfY+47nvXQ4RRd36CylFShuByQ="/>
</connectionStrings>