<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="assembly://RFD.LMS.ServiceImpl/RFD.LMS.ServiceImpl/AppContext.xml"/>
      <resource uri="assembly://RFD.LMS.Domain/RFD.LMS.Domain/AppContext.xml"/>
      <resource uri="assembly://LMS.AdoNet/LMS.AdoNet/AdoNetConfig.xml"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="mail" type=" RFD.LMS.ServiceImpl.Mail,  RFD.LMS.ServiceImpl"/>
    </objects>
  </spring>
  <appSettings>
    <add key="ServiceInterval" value="45000" />
    <!--1小时 =1000（毫秒）*60（秒）*60（分）=3600000 -->
    <add key="LogFilePath" value="D:\WindowsService\ServiceForStationDaily\ServiceLog\" />
    <add key="FailedMailAdress" value="Jishu_PS.list@vancl.cn" />
    <add key="StartTime" value="01:00" />
    <!--几天前的数据-->
    <add key="PreDayCount" value="1" />
  </appSettings>
  <!--数据库连接-->
  <connectionStrings>
    <!--正式库-->
    <add name="ExecuteConnString" connectionString="OaUiMMBYnrZ1gv4wwBoL9C+ta+Rckt2bxZjaIEqAY6t2LR9XNG+M72QVhaViTC71fdNDI/gKlRf9PtIE45u6ZgNaGqlx2YEyFGXeeRNm6zymJ5Wu6UB4cEKrrSWKYH9bZWQzr8MpuznJvfE0yWpsqjbAl+ypM3zeum1X9kOXoOMdVxbPkpAKOYPoWXqglaVYL61r5FyS3Ztv14h4En3TzA==" />
    <add name="RedOnlyConnString" connectionString="OaUiMMBYnrZjZX5i9uRbgUrsWh6E23eBz1ItfhFf/8QASMSjZQeAWXXBnIzjicCFG8WLHl+U0E6QM1T/8c7cZpT3PHa28V13puW/FC0HZ0Xl8vKuJQQbK7LGIUbiiIM8YDgZ7JiLGpoGjWNNtNQSExsd3tCQPj/JKBwgRJfleLU=" />
    <!--测试库-->
    <!--<add name="ExecuteConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP1HrFrU1eYeyEjxHMf0XXUS"/>
    <add name="RedOnlyConnString" connectionString="OaUiMMBYnrZjZX5i9uRbgUrsWh6E23eBz1ItfhFf/8QASMSjZQeAWXXBnIzjicCFG8WLHl+U0E6QM1T/8c7cZpT3PHa28V13puW/FC0HZ0Xl8vKuJQQbK7LGIUbiiIM8YDgZ7JiLGpoGjWNNtNQSExsd3tCQPj/JKBwgRJfleLU="/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
