<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="assembly://RFD.FMS.AdoNet/RFD.FMS.AdoNet/AdoNetConfig.xml"/>
      <!--只执行SQL-->
      <!--<resource uri="assembly://RFD.FMS.Domain/RFD.FMS.Domain/SqlDaoConfig.xml"/>
      <resource uri="assembly://RFD.FMS.WEBLOGIC/RFD.FMS.WEBLOGIC/SqlForServiceConfig.xml"/>-->
      <!--只执行Oracle-->
      <resource uri="assembly://RFD.FMS.Domain/RFD.FMS.Domain/OracleDaoConfig.xml"/>
      <resource uri="assembly://RFD.FMS.ServiceImpl/RFD.FMS.ServiceImpl/OracleForServiceConfig.xml"/>
      <!--SQL、Oracle并行-->
      <!--<resource uri="assembly://RFD.FMS.WEBLOGIC/RFD.FMS.WEBLOGIC/AllForServiceConfig.xml"/>
      <resource uri="assembly://RFD.FMS.ServiceImpl/RFD.FMS.ServiceImpl/AllForOracleServiceConfig.xml"/>
      <resource uri="assembly://RFD.FMS.Domain/RFD.FMS.Domain/SqlDaoConfig.xml"/>
      <resource uri="assembly://RFD.FMS.Domain/RFD.FMS.Domain/AllDaoConfig.xml"/>-->
    </context>
    <objects xmlns="http://www.springframework.net">

    </objects>
    <!--<parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>-->
  </spring>

  <appSettings>
    <!--<add key="LogFilePath" value="D:\WindowsService\ServiceForCheckDailyData\ServiceLog\"/>-->
    <!--<add key="LogFilePath" value="D:\ServiceLog\"/>-->
    <!--<add key="FailedMailAdress" value="Jishu_PS.list@vancl.cn"/>-->
    <add key="FailedMailAdress" value="xueyi@vancl.cn"/>
         
    <!--<add key="MailAdress" value="zengwei@vancl.cn;gaopengxiang@vancl.cn;yanglaiwang@vancl.cn;zhangping@vancl.cn;zhangjunb@vancl.cn;xueyi@vancl.cn;chenyanj@vancl.cn;zhangxiangfeng@vancl.cn"/>-->
    
    <add key="MailAdress" value="xueyi@vancl.cn"/>
    <add key="topCount" value="100"/>
    <add key="ServiceInterval" value="300000"/>
    <add key="CancelStationID" value="149,169,168,384,443"/>
    <add key="CancelStationIDEX" value="2,9,13,17,18,19,20,21,170,172,176,181,184,187,194,197,200,203,209,212,213,214,215,216,226,228,232,238,246,254,260,309,311,394,395"/>
    <!--<add key ="startDate" value="2013-1-15"/>
    <add key="endDate" value="2013-1-15"/>-->
  </appSettings>
  <!--数据库连接-->
  <connectionStrings>
    <!--正式库-->
    <add name="ExecuteConnString" connectionString="OaUiMMBYnrZ1gv4wwBoL9C+ta+Rckt2bxZjaIEqAY6t2LR9XNG+M72QVhaViTC71fdNDI/gKlRf9PtIE45u6ZgNaGqlx2YEyFGXeeRNm6zymJ5Wu6UB4cEKrrSWKYH9bZWQzr8MpuznJvfE0yWpsqo3sw9L7jAI1um1X9kOXoOMdVxbPkpAKOf88mcOeBrxfJZVnYUODt7xwGTwjyM2274mHuVV2lb6m" />
    <add name="RedOnlyConnString" connectionString="OaUiMMBYnrZjZX5i9uRbgUrsWh6E23eBz1ItfhFf/8QASMSjZQeAWXXBnIzjicCFG8WLHl+U0E6QM1T/8c7cZpT3PHa28V13puW/FC0HZ0Xl8vKuJQQbK7LGIUbiiIM8YDgZ7JiLGpoGjWNNtNQSE1h3Xds9z2H36/VYjUP+VwQ=" />
    <add name="OracleExecuteConnString" connectionString="Nt5+CzPrqmcGY1CnHImOJvPPlwHLveFZ/xIK98z/xApGgXCpEIv2vgrOAyK5xfddLHE7Voh14eNAyUW7TnfY+47nvXQ4RRd36CylFShuByQ="/>
    <add name="OracleRedOnlyConnString" connectionString="Nt5+CzPrqmcGY1CnHImOJt7t9nc0V++S/xIK98z/xApG2qgpwrGrW7lPQ3bY2V0SSkvoZuiTJFmVNtHan5jWtklvvDkqVfdhRoH//67iMLOJh7lVdpW+pg=="/>
    <!--测试库-->
    <!--<add name="ExecuteConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP1HrFrU1eYeyEjxHMf0XXUS"/>
    <add name="RedOnlyConnString" connectionString="OaUiMMBYnrZjZX5i9uRbgUrsWh6E23eBz1ItfhFf/8QASMSjZQeAWXXBnIzjicCFG8WLHl+U0E6QM1T/8c7cZpT3PHa28V13puW/FC0HZ0Xl8vKuJQQbK7LGIUbiiIM8YDgZ7JiLGpoGjWNNtNQSExsd3tCQPj/JKBwgRJfleLU=" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICOD" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2100000000" maxBufferPoolSize="2100000000" maxReceivedMessageSize="2100000000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2100000000" maxStringContentLength="2100000000" maxArrayLength="2100000000"
            maxBytesPerRead="2100000000" maxNameTableCharCount="2100000000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vfss.vancldb.com/ExternalApp/COD.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICOD"
        contract="ServiceClient.ICOD" name="BasicHttpBinding_ICOD"
        behaviorConfiguration="BasicServiceBehavior"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BasicServiceBehavior">
          <dataContractSerializer
            maxItemsInObjectGraph="2100000000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
